/* Add your CSS code below */
a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 2px solid blue;
}

.message--old {
  opacity: 0.5;
}

.message__content {
  line-height: 3;
}
